{
  "BasedOnStyle": "Google",
  "IndentWidth": 2,
  "UseTab": "Never",
  "AllowShortIfStatementsOnASingleLine": false,
  "ColumnLimit": 160,
  "AccessModifierOffset": -2,
  "AlignConsecutiveAssignments": false,
  "AlignConsecutiveDeclarations": false,
  "AlignOperands": true,
  "AllowShortLoopsOnASingleLine": false,
  "DerivePointerAlignment": false,
  "ExperimentalAutoDetectBinPacking": false,
  "IndentCaseLabels": true,
  "IndentFunctionDeclarationAfterType": false,
  "IndentWrappedFunctionNames": false,
  "KeepEmptyLinesAtTheStartOfBlocks": false,
  "ObjCSpaceAfterProperty": true,
  "PointerAlignment": "Right"
}